@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.body-white {
  width: 375px;
  background: #f7f7f9;
}

.header {
  width: 23.4375rem;
  background: white;
  background-image: url(images/bg-image.png);
  background-repeat: no-repeat;
  min-height: 73vh;
  padding: 5%;
  border-bottom-left-radius: 70px;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  margin-left: 12px;
  margin-top: 4px;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
}

.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 8px;
}

.menu-icon img {
  display: block;
  margin-left: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  padding-top: 70px;
  color: var(--neutrals-n-800, #172b4d);
}

p {
  font-size: 20px;
  color: #344563;
  font-weight: 400;
  line-height: 2rem;
}

.link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #7f8cff;
}

.social-icons  {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  gap: 16px;
  list-style: none;
}

.nav-links li a {
  display: none;
}


/* <!-- ---------- cards section -----------> */

.skills {
  margin-top: 25%;
  padding: 5%;
}

.cards {
    display: flex;
    padding: 5%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: var(--neutrals-n-0, #FFF);
}

figure {
  text-align: center;
}

.header-details {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.title-card {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.dot {
  list-style-type: disc;
  display: flex;
  color: var(--theme-1-neutrals-6, #6B778C);
  gap: 2rem;
  margin-left: 1.5rem;
}

.dot li {
  font-size: large; 
}

.skills-card {
  display: flex;
  list-style: none;
  gap: 1rem;
  color: var(--primary-b-400, #6070FF);
}

.skill-1 {
  border-radius: 0.5rem;
  background: var(--primary-b-50, #EBEBFF);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.0225rem;
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: center;
}

.btn {
  display: flex;
  padding: 0.75rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-b-400, #6070FF);
  background: var(--neutrals-n-10, #F7F7F9);
  width: 47%;
  margin-top: 20px;
}

.btn a {
  text-decoration: none;
  color: var(--primary-b-500, #396DF2);
  text-align: center;
}

/* ----------- ABOUT MYSELF ----------- */

.about-myself {
  margin-top: 25%;
}

.about {
  display: flex;
  flex-direction: column;
  background: var(--neutrals-n-0, #FFF);
  border-top-right-radius: 60px;
  padding: 7.125rem 1.5rem;
}

.skill-2 {
  border-radius: 0.5rem;
  background: var(--neutrals-n-10, #F7F7F9);
  font-family: Poppins;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.0225rem;
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: center;
  margin: 10px;
  width: 18.9375rem;
  gap: 18px;
}

.language {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.625rem 1rem 0.75rem;
  gap: 13rem;
}

.framwork {
  margin-top: 20px;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.separator-line {
  height: 1.5px;
  background: #dfe1e6;
  margin-top: 30px;
}

/* ----------- Footer ----------- */

.footer {
  margin-top: 25%;
  padding: 5%;
}

.contact {
  text-align: center;
  margin-top: 30%;
}

.title-footer {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: var(--neutrals-n-0, #FFF);
  height: 3.5rem;
}

footer {
  display: flex;
  height: 53.6875rem;
  padding: 5%;
  flex-direction: column;
  border-top-left-radius: 60px;
  background:  var(--primary-b-400, #6070FF);
  background-image: url(images/browser-icons/contac-shape-bg.svg);
  background-position: 155px 30px;
  background-repeat: no-repeat;
}

.contact p {
  color: var(--primary-b-50, #EBEBFF);
  margin: 20px 2px 30px;
}

.contact-form input,
.contact-form textarea {
  width: 20.4375rem;
  margin: 5px 4px 13px;
  padding: 15px 11px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 8px;
}

